force-app/main/default/flows/Create_Support_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Users_to_a_Slack_Channel_Action</name>
        <label>Add Users to a Slack Channel Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AddUsersToSlackChannel</actionName>
        <actionType>slackFlow</actionType>
        <connector>
            <targetReference>Send_Support_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <elementReference>slack_channel_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIds</name>
            <value>
                <elementReference>salesforce_user_ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AddUsersToSlackChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Support_Channel</name>
        <label>Create Support Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CreateSlackRecordChannel</actionName>
        <actionType>slackFlow</actionType>
        <connector>
            <targetReference>Set_Channel_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateSlackRecordChannel</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Look_Up_Slack_User_Id</name>
        <label>Look Up Slack User Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackAgentGetUser</actionName>
        <actionType>slackAgentGetUser</actionType>
        <connector>
            <targetReference>Assign_Slack_Users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>salesforceUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackAgentGetUser</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Support_Notification</name>
        <label>Send Support Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T081440F60P</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userIdForToken</name>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>slack_channel_id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackBotName</name>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>slack_message_new_request</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>viewApiName</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Assign_Slack_Users</name>
        <label>Assign Slack Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>salesforce_user_ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Look_Up_Slack_User_Id.slackUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Users_to_a_Slack_Channel_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address</name>
        <label>Set Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>request_details</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address_to_string</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Channel_Id</name>
        <label>Set Channel Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>slack_channel_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Support_Channel.channelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_Up_Slack_User_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_Slack_Channel</name>
        <label>Is there a Slack Channel?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Support_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Channel</defaultConnectorLabel>
        <rules>
            <name>Channel_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slack_channel_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Look_Up_Slack_User_Id</targetReference>
            </connector>
            <label>Channel Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Assignment</name>
        <label>Location Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TranslationSupport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>request_type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Translation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address</targetReference>
            </connector>
            <label>Translation Support</label>
        </rules>
    </decisions>
    <description>This is a Auto-Launched Flow.
Upon initiation, the flow looks up the Salesforce channel for a given work order record. If the channel doesn&apos;t exist, it creates a new one. Then, it sends a support notification to the respective Slack channel with details about the work order. The flow uses &apos;WorkOrder&apos; object fields like &apos;Id&apos;, &apos;Address&apos;, and &apos;Language&apos; to interact with the work order record.

Several objects and their fields worth mentioning. Below are the details (the format is given as: object_name - field_name: interaction)
  * [&apos;WorkOrder&apos;, &apos;Id&apos;]
  * [&apos;SlackRecordChannel&apos;, &apos;channelId&apos;]</description>
    <environments>Default</environments>
    <formulas>
        <name>address_to_string</name>
        <dataType>String</dataType>
        <expression>{!Get_Work_Order.Street} &amp; &quot;, &quot; &amp;  {!Get_Work_Order.City} &amp; &quot;, &quot; &amp;  {!Get_Work_Order.State} &amp; &quot;, &quot; &amp; {!Get_Work_Order.PostalCode}</expression>
    </formulas>
    <interviewLabel>Create Support Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Support Channel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Slack_Channel</name>
        <label>Find Slack Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Slack_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecord</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>SlackChannelRelatedRecord</object>
        <outputAssignments>
            <assignToReference>slack_channel_id</assignToReference>
            <field>SlackChannel</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Slack_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Location_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The first Slack message in a support channel. Includes request information and instructions for next steps.</description>
        <name>slack_message_new_request</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>There&apos;s a new {!request_type} request for {!request_subtype} from {!requested_by.Name}. 
{!request_details}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>request_details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>request_subtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>request_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>requested_by</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>salesforce_user_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slack_channel_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
