force-app/main/default/flows/WorkOrder_Support_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Connectivity_Network_Support</name>
        <choiceText>Connectivity  &amp; Network Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connectivity  &amp; Network Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>French</name>
        <choiceText>French</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>French</stringValue>
        </value>
    </choices>
    <choices>
        <name>Geographic_Mapping_Support</name>
        <choiceText>Geographic Mapping &amp; Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Geographic Mapping &amp; Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>German</name>
        <choiceText>German</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>German</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hardware_Device_Support</name>
        <choiceText>Hardware &amp; Device Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hardware &amp; Device Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Hazard</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Hazard/Threat&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hazard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Korean</name>
        <choiceText>Korean</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Korean</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security_Administrative_Support</name>
        <choiceText>Security &amp; Administrative Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security &amp; Administrative Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Software_Application_Troubleshooting</name>
        <choiceText>Software &amp; Application Troubleshooting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Software &amp; Application Troubleshooting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Spanish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_Support</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Technical Support&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Translation</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Translation&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Translation</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Type_of_Record</name>
        <label>Type of Record?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Type</defaultConnectorLabel>
        <rules>
            <name>Assignment_work_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Confirmation_Screen</targetReference>
            </connector>
            <label>Assignment work order</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_kind_of_request_is_it</name>
        <label>What kind of request is it</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Default_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>translation_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Translation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TranslationSupport</targetReference>
            </connector>
            <label>translation request</label>
        </rules>
        <rules>
            <name>technical_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Technical_Support</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Support_Details</targetReference>
            </connector>
            <label>technical_request</label>
        </rules>
    </decisions>
    <description>Get help with technical issues, language translation, or hazards</description>
    <environments>Default</environments>
    <interviewLabel>WorkOrder Support Req {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder Support Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_User</name>
        <label>Get Current User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_kind_of_request_is_it</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;Your {!Request_Type} request has been submitted.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirmation_Screen</name>
        <label>Copy 1 of Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Your {!Request_Type} request has been submitted.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Default_Confirmation_Screen</name>
        <label>Default Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Default_Confirmation_Message</name>
            <fieldText>&lt;p&gt;We don&apos;t have a Flow built for this request type yet.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Support</name>
        <label>Request Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Current_User</targetReference>
        </connector>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>Hazard</choiceReferences>
            <choiceReferences>Translation</choiceReferences>
            <choiceReferences>Technical_Support</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Technical_Support_Details</name>
        <label>Technical Support Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Support_Channel</targetReference>
        </connector>
        <fields>
            <name>Technical_Support_Subtype</name>
            <choiceReferences>Hardware_Device_Support</choiceReferences>
            <choiceReferences>Software_Application_Troubleshooting</choiceReferences>
            <choiceReferences>Connectivity_Network_Support</choiceReferences>
            <choiceReferences>Geographic_Mapping_Support</choiceReferences>
            <choiceReferences>Security_Administrative_Support</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technical Support Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Describe_the_issue</name>
            <fieldText>Describe the issue</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TranslationSupport</name>
        <label>Translation Support</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Support_Channel</targetReference>
        </connector>
        <fields>
            <name>Language_Needed</name>
            <choiceReferences>French</choiceReferences>
            <choiceReferences>German</choiceReferences>
            <choiceReferences>Korean</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Language Needed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Request_Support</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Support_Channel</name>
        <label>Create Support Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type_of_Record</targetReference>
        </connector>
        <flowName>Create_Support_Channel</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>request_details</name>
            <value>
                <elementReference>Describe_the_issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>request_subtype</name>
            <value>
                <elementReference>Translation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>request_type</name>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>requested_by</name>
            <value>
                <elementReference>Get_Current_User</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0WOHo000005hwMfOAI</stringValue>
        </value>
    </variables>
</Flow>
